Package: cn.chaitin.ipaspect
Name: ipaspect agent
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Agent for ipaspect tool
Maintainer: codecolorist
Author: codecolorist
Section: Tweaks
